header {
    height: 100vh;
    padding-top: 1.5rem;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    height: 200px;
    width: 200px;
    background: rgb(0, 255, 255);
    filter: blur(140px);
}

header::after {
    content: "";
    position: absolute;
    top: 180px;
    left: 230px;
    height: 200px;
    width: 200px;
    background: rgb(183, 0, 255);
    filter: blur(140px);
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.presentation {
    display: block;
}

.header_container h5 {
    font-size: 1.5rem;
}

.header_container h1 {
    color: var(--color-primary);
}

/* ---------- CTA ----------*/

.cta {
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    gap: 1.2rem;
}

/* ---------- HEADER SOCIALS ----------*/

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.social_icons {
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

/* ---------- ME ----------*/

.me {
    background: linear-gradient(var(--color-bg-variant), transparent);
    width: 22rem;
    height: 28rem;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem;
}

.icon_dev {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #25262a;
    filter: drop-shadow(-20px 20px 20px rgba(59, 10, 10, 0.534));
}

.icon_react {
    position: absolute;
    color: var(--color-primary);
    width: 70px;
    height: 70px;
    left: 33%;
    bottom: 25%;
    z-index: 4;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.icon_node {
    position: absolute;
    color: green;
    width: 75px;
    height: 75px;
    left: 60%;
    bottom: 15%;
    z-index: 4;
}

.icon_javascript {
    position: absolute;
    color: yellow;
    width: 60px;
    height: 60px;
    left: 56%;
    bottom: 50%;
    z-index: 4;
}

/* ---------- SCROLL DOWN ----------*/

.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.9rem;
}

/* ---------- MEDIA QUERIES (MEDIUM DEVICES) ---------- */

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* ---------- MEDIA QUERIES (SMALL DEVICES) ---------- */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header_socials,
    .scroll_down {
        display: none;
    }
}
